<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-52rafdj\sqlexpress.ChuanTTCSDL.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-52RAFDJ\SQLEXPRESS;integrated security=SSPI;initial catalog=QUAN_LY_KHO" />
    </connectionStrings>
</configuration>